{% extends "base.html" %}
{% block content %}


<div class="container text-center">
    <div class="jumbotron">
        <h1>Blood Donation Database</h1>
    </div>

    <table style="width:100%; padding-top: 50px" class=" table  table-striped">
  <tr class="table-primary">
    <th>Name</th>
    <th>Age</th> 
    <th>Blood Groups</th>
    <th>City</th>
    <th>Donation Date</th>
    <th>Phone Number</th>
  </tr>
  
  {% for blood_donation in blood_donations %}
              <tr>
                  <td>{{ blood_donation.name[0]|upper}}{{ blood_donation.name[1:] }}</td> 
                  <td>{{ blood_donation.age }} </td>
                  <td>{{ blood_donation.blood_groups.upper() }}</td>
                  <td>{{ blood_donation.city[0]|upper}}{{ blood_donation.city[1:] }}</td>
                  <td>{{ blood_donation.latest_donation.strftime('%d /%m /%Y') }}</td>
                  <td>
                      <a href="tel:{{ blood_donation.phone_no }}">
                          {{ blood_donation.phone_no }}
                      </a>
                  </td>
              </tr>
  {% endfor %}

    </table>
    <div class="text-right">
        <a class = "btn icon-box" href="/">
         <h3 class="text-right">Back</h3>
        </a>
    </div> 

</div>
{% endblock %}