{% extends "base.html" %}
{% block content %}

<div class="container text-center">

    <div class="py-5 mb-4 bg-light rounded-3">
        <h1>Blood Donation Database</h1>
    </div>

    <div>
        <h2 class="info">Total {{all_donations_counter}} donations</h2>
    </div>

    <!-- Donations table -->
    <table class="table table-striped" style="width:100%; padding-top:50px;">
        <thead class="table-primary">
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Blood Groups</th>
                <th>City</th>
                <th>Donation Date</th>
                <th>Email</th>
            </tr>
        </thead>

        <tbody>
        {% for blood_donation in pagination.items %}
            <tr>
                <td>{{ blood_donation.name[0]|upper}}{{ blood_donation.name[1:] }}</td> 
                <td>{{ blood_donation.age }}</td>
                <td>{{ blood_donation.blood_groups.upper() }}</td>
                <td>{{ blood_donation.city[0]|upper}}{{ blood_donation.city[1:] }}</td>
                <td>{{ blood_donation.latest_donation.strftime('%d /%m /%Y') }}</td>
                <td>
                    <!-- Mail link -->
                    <a href="mailto:{{ blood_donation.email }}">
                        {{ blood_donation.email }}
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>

    </table>

    <!-- Pagination -->
     <nav aria-label="Admin database pages" class="mt-4">
        <ul class="pagination d-flex justify-content-center align-items-center gap-2">
            <li class="page-item {% if not pagination.has_prev %}disabled{% endif %}">
                <a class="page-link rounded" href="{{ url_for('all_donations_db', page=pagination.prev_num) if pagination.has_prev else '#' }}">Previous</a>
            </li>
            
            {% for page_num in pagination.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                {% if page_num %}
                    <li class="page-item {% if page_num == pagination.page %}active{% endif %}">
                        <a class="page-link rounded" href="{{ url_for('all_donations_db', page=page_num) }}">{{ page_num }}</a>
                    </li>
                {% else %}
                    <li class="page-item disabled"><span class="page-link">...</span></li>
                {% endif %}
            {% endfor %}
            
            <li class="page-item {% if not pagination.has_next %}disabled{% endif %}">
                <a class="page-link rounded" href="{{ url_for('all_donations_db', page=pagination.next_num) if pagination.has_next else '#' }}">Next</a>
            </li>
        </ul>
    </nav>

    <!-- Back button -->
    <div class="text-end">
        <a class="btn btn-secondary icon-box" href="/">
            Back
        </a>
    </div>

</div>

{% endblock %}