{% extends "base.html" %}
{% block content %}
<div class="container text-center">
    <div class="main jumbotron jumbotron-fluid">
        <img src="/static/BDS.png" class="blogo">
        <h2 class="display-4 header">Blood Donation System</h2>
        {% if current_user.is_authenticated %}
            <p>Welcome back, <strong>{{ current_user.username }}</strong>!</p>
        {% endif %}
    </div>

    <div class="row justify-content-center mt-4">
        {% if not current_user.is_authenticated %}
            <div class="col-lg-12">
                <a class="btn btn-primary btn-lg" href="{{ url_for('login') }}">Login to Access System</a>
                <a class="btn btn-outline-secondary btn-lg" href="{{ url_for('register') }}">Register</a>
            </div>
        {% else %}
            <div class="col-lg-4">
                <a class="btn-d icon-box" href='/blood_donation'> 
                    <img src="/static/blood-donation.png" class="b-icons">
                    <h2>Donate Blood</h2>
                </a>
            </div>
            <div class="col-lg-4">
                <a class="btn-r icon-box" href='/blood_receive'>
                    <img src="/static/blood-request.png" class="b-icons">
                    <h2>Receive Blood</h2>
                </a>
            </div>
            {% if current_user.role == 'admin' %}
            <div class="col-lg-4">
                <a class="btn-admin icon-box" href='/all_donations_db' style="background-color: #f8d7da;">
                    <img src="/static/db-icon.png" class="b-icons">
                    <h2>Admin DB</h2>
                </a>
            </div>
            {% endif %}
        {% endif %}
    </div>
</div>
{% endblock %}