{% extends "base.html" %}
{% block content %}
<div class="container">
    <form action="/home" method='post', class='ui form' style='width: 100%;'>
        <html>
            <body>
                <div class="container text-center">
                    <div class="jumbotron">
                        <h2 class="display-4">Blood Donation System</h2>
                    </div>

                    <div class="container">
                        {% with messages = get_flashed_messages(with_categories=true) %}
                          {% if messages %}
                  
                            {% for category, mess in messages %}
                            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                              <span>{{ mess }}</span>
                              <button type="button" class="close" data-dismiss="alert" aria-label="Close" class="fade close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            {% endfor %}
                          {% endif %}
                        {% endwith %}
                    </div>
                
                    
                    <a href='/blood_donation'> 
                        <h3>Blood donation</h3>
                    </a>
                    <a href='/blood_receive'> 
                        <h3>Blood receive</h3>
                    </a>
                </div>

                
            </body>
        </html>
    </form>     
</div>
{% endblock %}