{% extends "base.html" %}
{% block content %}

<div class="container text-center">

    <div class="row justify-content-center mt-4 g-4">

        {% if not current_user.is_authenticated %}

            <div class="col-lg-12">
                <a class="btn btn-primary btn-lg me-2" href="{{ url_for('auth.login') }}">
                    Login 
                </a>

                <a class="btn btn-outline-secondary btn-lg" href="{{ url_for('auth.register') }}">
                    Register
                </a>
            </div>

        {% else %}
        
            {% if current_user.role == 'user' %}
            <div class="col-lg-4 col-md-6">
                <a class="d-flex flex-column align-items-center btn-d icon-box d-block p-3 text-decoration-none"
                href="{{ url_for('blood_ops.blood_donation') }}">
                    <img src="{{ url_for('static', filename='icons/blood-donation.png') }}" class="b-icons">
                    <h2 class="d-inline-block mt-2">Donate Blood</h2>
                </a>
            </div>

            <div class="col-lg-4 col-md-6">
                <a class="d-flex flex-column align-items-center btn-r icon-box d-block p-3 text-decoration-none"
                href="{{ url_for('blood_ops.blood_request') }}">
                    <img src="{{ url_for('static', filename='icons/blood-request.png') }}" class="b-icons">
                    <h2 class="d-inline-block mt-2">Receive Blood</h2>
                </a>
            </div>
            {% endif %}

            {% if current_user.role == 'admin' %}
            <div class="col-lg-4 col-md-6">
                <a class="d-flex flex-column align-items-center btn-admin icon-box d-block p-3 text-decoration-none"
                   href="{{ url_for('admin.donations_db') }}"
                   style="background-color:#f8d7da;">
                    <img src="/static/icons/blood-donations-db.png" class="b-icons">
                    <h2 class="mt-0 mb-2">
                        Donations DB
                    </h2>
                    <span class="badge bg-danger fs-6 rounded-pill">Total: {{ admin_stats.total_donations }}</span>
                </a>
            </div>
            
            <div class="col-lg-4 col-md-6">
                <a class="d-flex flex-column align-items-center btn-admin icon-box d-block p-3 text-decoration-none"
                   href="{{ url_for('admin.requests_db') }}"
                   style="background-color:#f8d7da;">
                    <img  src="{{ url_for('static', filename='icons/blood-requests-db.png') }}" class="b-icons">
                    <h2 class="mt-0 mb-2">
                        Requests DB
                    </h2>
                    <span class="badge bg-danger fs-6 rounded-pill">Total: {{ admin_stats.total_requests }}</span>
                </a>
            </div>

            <div class="col-lg-4 col-md-6">
                <a class="d-flex flex-column align-items-center btn-admin icon-box d-block p-3 text-decoration-none"
                   href="{{ url_for('admin.users_db') }}"
                   style="background-color:#f8d7da;">
                    <img src="{{ url_for('static', filename='icons/users-db.svg') }}" class="b-icons">
                    <h2 class="mt-0 mb-2">
                        Users DB
                    </h2>
                    <span class="badge bg-danger fs-6 rounded-pill">Total: {{ admin_stats.total_users }}</span>
                </a>
            </div>
            {% endif %}

        {% endif %}

    </div>

</div>

{% endblock %}